h1 {
    text-align: center;
    font-family: Courier;
}

button {
    display: block;
    margin: auto;
    height: 40px;
    width: 80px;
}

#sketchpad {
    width: 800px;
    height: 600px;
    margin: 30px auto;
}

.row {
    display: block;
    width: 100%;
}

.square {
    height: 100%;
    display: inline-block;
    background-color: white;
    outline: 1px solid blue;
}

.colored {
    background-color: black;
}